//====================================================================================================
.header {
	background: url("../img/bg_header.jpg") top no-repeat ;
	// .header__top
	&__top {}
	// .header__bottom
	&__bottom {}
}
.top-header {
	
	// .top-header__content
	&__content {
		display: flex;
		align-items: center;
		height: 90px;
	}
	// .top-header__column
	&__column {
		flex: 0 1 50%;
		&:nth-child(2){
			flex: 0 0 190px;
			text-align: center;
			padding-top: 25px;
		}
	}
	// .top-header__menu
	&__menu {
		margin-top: -10px;
	}
	// .top-header__logo
	&__logo {
		
	}
	// .top-header__contacts
	&__contacts {}
}        
.menu {
	// .menu__icon
	&__icon {}
	// .menu__body
	&__body {}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		
	}
	// .menu__item
	&__item {
		flex: 0 1 33.333%;
	}
	// .menu__link
	&__link {
		display: inline-flex;
		justify-content:center;
		align-items: center;
		white-space: nowrap;
		height: 27px;
		padding: 0px 20px;
		color: #ffffff;
		font-family: Play;
		font-weight: 700;
		font-style: normal;
		line-height: 18px;
		text-decoration: underline;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover,
			&:focus	{
				background-color: #068292;
				border-radius: 20px;
				text-decoration: underline;
			}
		}
	}
}

.contsacts-header {
	display: flex;
	justify-content:center;
	align-items: center;
	// .contsacts-header__column
	&__column {
		border-right: 1px solid #ffff;
		padding:0 30px;
		&:last-child{
			border-right: 0;
		}
	}
	// .contsacts-header__items
	&__items {}
	// .contsacts-header__item
	&__item {
		// .contsacts-header__item_icon
		&_icon {
			padding-left: 30px;
			background: url("../img/header/phone-hed.png") left no-repeat;
		}
	}
	// .contsacts-header__label
	&__label {
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 5px;
		color: #fff;
	}
	// .contsacts-header__phone
	&__phone {
		color: #ffffff;
		font-size: 18px;
		font-weight: 900;
		line-height: 18px;
	}
}
.bottom-header {
	// .bottom-header__content
	&__content {
		display: flex;
		
	}
	// .bottom-header__column
	&__column {
		flex: 0 1 50%;
		height: 63px;
		align-items: center;
	}
	// .bottom-header__actions
	&__actions {}
	// .bottom-header__info
	&__info {}
}
.actions-header {
	display: flex;
	// .actions-header__login
	&__login {
		display: inline-block;
		line-height: 24px;
		background: url('../img/header/key.png') left no-repeat;
	}
	// .actions-header__reg
	&__reg {}
	// .actions-header__email
	&__email {}
}
.info-header {
	// .info-header__column
	&__column {}
	// .info-header__callback
	&__callback {}
	// .info-header__schedule
	&__schedule {}
	// .info-header__cart
	&__cart {}
}

//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
