@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 20pх;

}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.page {
	flex: 1 1 auto;
	padding-top: 160px;
	// .page__container
	&__container {
		display: flex;
	}
	// .page__side
	&__side {
		flex: 0 0 260px;
	}
	// .page__menu
	&__menu {}
	// .page__content
	&__content {
		flex: 1 1 auto;
		padding-left: 30px;
	}
}

.menu-page {
	position: relative;
	background: url('../img/bg-menu.jpg') top no-repeat;
	// .menu-page__header
	&__header {
		padding: 20px;
		display: flex;
		align-items: center;
	}
	// .menu-page__title
	&__title {
		color: #ffffff;
		font-family: "UniSans";
		line-height: math.div(40 , 30);
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.75px;
	}
	// .menu-page__burger
	&__burger {
		flex: 0 0 35px;
		height: 35px;
		background-color: #068292;
		position: relative;
		cursor: pointer;
		padding: 10px 6px;
		z-index: 0;
		
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
	li{
		border-bottom: 1px solid #1aa7b9;;
	}
	&__lines{
		height: 18px;
		position: relative;
	}
	// .menu-page__body
	&__body {}
	// .menu-page__link
	&__link {
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 0,3px;
		color: #fff;
		display: block;
		padding: 12px 20px;
		position: relative;
		transition: all 0.3s ease 0s;
		&:hover{
			background-color: #098494;
		}
		// .menu-page__link_parent
		&_parent {
			&::after{
				content:'';
				background: url("../img/menu-arrow.png") 0 0 no-repeat;
				position: absolute;
				width: 14px;
				height: 14px;
				right: 10px;
				top: 34%;
			}
		}
	}
	// .menu-page__submenu
	&__submenu {
		position: absolute;
		height: 100%;
		top: 0;
		left: 100%;
	}
}
.submenu-page {
	width: 281px;
	border: 2px solid #098494;
	background-color: #ffffff;
	// .submenu-page__items
	&__items {
		
	}
	// .submenu-page__menu
	&__menu {
		padding: 20px 0;
		border-bottom: 1px solid #dedede;;
		
	}
	&__wrap-link{
		border-bottom: none !important;
		
	}
	// .submenu-page__link
	&__link {
		font-size: 12px;
		font-weight: 300;
		color: #1ab9ce;
		font-style: normal;
		letter-spacing: 0.3px;
		transition: all 0.3s ease 0s;
		display: block;
		padding: 10px 40px;
		&:hover {
			color: #fff;
			background-color:#1ab9ce;
			
		}
	}
}
.subname-page {
	// .subname-page__product
	&__product {
		padding: 0 15px;
	}
}
.item-product {
	padding: 15px 10px;
	position: relative;
	// .item-product__labels
	&__labels {
		position: absolute;
		top: 15px;
		left: 15px;
		
	}
	// .item-product__label
	&__label {
		margin: 0px 0px 10px 0px;
		height: 21px;
		background-color: #fd8424;
		padding: 4px 15px;
		text-transform: uppercase;
		border-radius: 10px;
		font-weight: 900;
		color: #fff;
		align-items: center;
		justify-content: center;
		font-size: 14px;
	}
	// .item-product__img
	&__img {
		height: 195px;
		display: flex;
		justify-content:center;
		align-items: center;
		padding: 10px 0;
		img{
			max-width:100%;
			max-height: 175px;
		}
	}
	// .item-product__title
	&__title {
		font-size: 16px;
		font-weight: 300;
		color: #36949f;
		line-height: 24px;
		display: inline-block;
		margin-bottom: 14px;
		&:hover{
			text-decoration: underline;
		}
	}
	// .item-product__footer
	&__footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	// .item-product__old-price
	&__old-price {
		flex: 1 1 100%;
		text-align: right;
		color: #999999;
		font-size: 18px;
		font-weight: 300;
		text-decoration: line-through;
	}
	// .item-product__bottom
	&__bottom {}
	// .item-product__add
	&__add {
		width:40px;
		height: 40px;
		background: url('../img/Кнопка_корзины.png') 0 0 no-repeat;
	}
	// .item-product__price
	&__price {
		color: #333333;
		font-size: 24px;
		font-weight: 900;
	}
}


//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
